<footer class="footer">
  {% if page.is_post %}
    <a href="{{ site.github.url }}/assets/zines/{{ page.slug }}.pdf" title="capture this article as a zine" target="_blank">
      <i class="fa-solid fa-book"></i>
    </a>
  {% endif %}
  {% for item in site.data.settings.social %}
    <a href="{{ item.link }}" class="menu-link" target="_blank"><i class="{{ item.icon }}" aria-hidden="true"></i></a>
  {% endfor %}
  <div class="footer-description">
    <a href="{{ site.github.url }}/">{{ site.title }} :: {{ site.description }}</a>
  </div>
</footer>
